<!DOCTYPE html>
<html>
  <body>
<div>
  <h1>Welcome to</h1>
<h1>
  <strong>Bookers!!</strong>
</h1>
</div>

<div>
<p>in</p>
<p><strong>Bookers,</strong></p>
</div>

<div>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
</div>

<div>
  <p>about various books!</p>
</div>

<li>
  <%= link_to "Log in", new_user_session_path %>
</li>
<li>
  <%= link_to "Sign up", new_user_registration_path %>
</li>

</body>
